<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/teacherNilaiSemester.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Nilai Semester</title>
</head>
<body>
  <div class="container">
    <nav>
      <h2>Title</h2>
      <a href="/dashboard"><h3>Back to Dashboard</h3></a>
      <p class="sidebar-title">KEGIATAN BELAJAR</p>
      <a href="/student/jadwal_pelajaran">
        <span class="material-icons-round">calendar_month</span>
        <h3 class="sidebar-text">Jadwal Pelajaran</h3>
      </a>
      <a href="/student/nilai_semester">
        <span class="material-icons-round">description</span>
        <h3 class="sidebar-text">Nilai Semester</h3>
      </a>
      <a href="/student/ekstrakurikuler">
        <span class="material-icons-round">self_improvement</span>
        <h3 class="sidebar-text">Ekstrakurikuler</h3>
      </a>
      <p class="sidebar-title">INFORMASI SEKOLAH</p>
      <a href="/data_guru">
        <span class="material-icons-round">supervisor_account</span>
        <h3 class="sidebar-text">Data Guru</h3>
      </a>
      <a href="/data_siswa">
        <span class="material-icons-round">diversity_3</span>
        <h3 class="sidebar-text">Data Siswa</h3>
      </a>
      <a href="/auth/logout" class="logout-btn">Logout</a>
    </nav>
    <div class="inner-container">
     <div class="header">
  <h1>Nilai Semester</h1>
    <!-- Add form for updating student grades -->
    <form action="/teacher/nilai_semester/update" method="POST">
      <table>
      <thead>
        <tr>
          <th>Nama Siswa</th>
          <th>Mata Pelajaran</th>
          <th>Kelas</th>
          <th>Tugas</th>
          <th>Kuis</th>
          <th>UTS</th>
          <th>UAS</th>
        </tr>
      </thead>
      <tbody>
        {{#each studentGrades}}
        <tr>
          <td>{{nama_siswa}}</td>
          <td>{{nama_mapel}}</td>
          <td>{{kode_ruang_kelas}}</td>
          <td><input type="number" name="tugas_{{@index}}" value="{{nilai_tugas}}"></td>
          <td><input type="number" name="kuis_{{@index}}" value="{{nilai_kuis}}"></td>
          <td><input type="number" name="uts_{{@index}}" value="{{nilai_uts}}"></td>
          <td><input type="number" name="uas_{{@index}}" value="{{nilai_uas}}"></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
      <button type="submit">Update Nilai</button>
    </form>
    </div>
  </div>
</body>
</html>
